    body {
      background-color: #0a1014;

    }

    * {
      margin: 0px;
      padding: 0px;
    }

    p {
      color: cornflowerblue;
      font-size: 40px;
    }

    #pin,
    #pwd {
      font-size: 40px;
      border-image: linear-gradient(to right, rgb(25, 0, 255), rgb(103, 101, 235), blueviolet);
      border-image-slice: 1;
    }

    #pin,
    #pwd {
      padding: 20px;

    }

    #pwd-cont {
      padding: 20px;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      margin: 5px;
      display: flex;
      align-items: baseline;
      justify-content: space-around;
    }

    #pwd-cont input {
      margin: auto;
      display: flex;
    }

    #pin-cont {

      /* background-color: #0a1014; */
      /* width: 100%;
      height: 100%; */
      /* z-index: 2; */
      padding: 20px;

      position: fixed;

      left: 0;
      right: 0;
      margin: auto;
      margin: 5px;
      display: flex;

      align-items: baseline;

      justify-content: space-around;
      /* border: 3px solid transparent;
      border-image: linear-gradient(to right, rgb(25, 0, 255), rgb(103, 101, 235), blueviolet);
      border-image-slice: 1; */
    }

    button {
      border-radius: 20px;
      border: none;
      color: rgb(255, 255, 255);
      background-image: linear-gradient(90deg, #0065ff, #6942ef, #6554c0, #008cff, #0065ff, #6942ef);
      background-size: 400%;
      height: 39px;
      padding: 10px;
      margin: auto;
      margin-top: 10px;
    }

    button:hover {
      background-image: linear-gradient(90deg, #6942ef, #0065ff, #008cff, #6554c0, #6942ef, #658fce);
      background-size: 400%;
    }

    button:active {
      border-image: linear-gradient(to right, rgb(25, 0, 255), rgb(103, 101, 235), blueviolet);
      border-image-slice: 1;
      border: 3px solid transparent;
    }

    #pin-txt,
    #pwd-txt {
      border-image: linear-gradient(to right, rgb(25, 0, 255), rgb(103, 101, 235), blueviolet);
      border-image-slice: 1;
      position: absolute;
      top: -10px;
      left: 0;
      right: 0;
      background-color: #0a1014;
      display: flex;
      justify-content: space-around;
    }

    div.optval {
      border: 3px solid transparent;
      border-image: linear-gradient(to right, rgb(25, 0, 255), rgb(103, 101, 235), blueviolet);
      border-image-slice: 1;

      padding: 20px;
      text-align: center;
      margin-bottom: 50px;
      margin-top: 50px;
    }
    .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-controls {
  padding: 0.5rem 0;
}

canvas {
  display: block;
  margin-bottom: 0.5rem;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#buttons button {
  font-size: 1rem;
  padding: 1rem;
  width: calc(50% - 0.25rem);
}

#buttons button {
  font-size: 1rem;
  background: #0088cc;
  text-align: center;
  color: white;
  border: none;
  transition: all 0.2s;
  padding: 0.5rem;
}

#buttons button:hover,
#buttons button:focus {
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 1);
  background: #0ae;
}

#buttons button:active {
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(2px);
}


/* Make the clips use as much space as possible, and
   * also show a scrollbar when there are too many clips to show
   * in the available space */
.sound-clips {
  flex: 1;
  overflow: auto;
}

section,
article {
  display: block;
}

.clip {
  padding-bottom: 1rem;
}

audio {
  width: 100%;
  display: block;
  margin: 1rem auto 0.5rem;
}

.clip p {
  display: inline-block;
  font-size: 1rem;
}

.clip button {
  font-size: 1rem;
  float: right;
}

button.delete {
  background: #f00;
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
}

/* Checkbox hack to control information box display */



/* Cursor when clip name is clicked over */

.clip p {
  cursor: pointer;
}

/* Adjustments for wider screens */
@media all and (min-width: 800px) {

  /* Don't take all the space as readability is lost when line length
       goes past a certain size */
  .wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
  }
}
